header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #ffffff 0%, #F7F8FA 100%);
    padding: 10px 0px;
}

header img
{
    width: 40px;
}

.header__icons
{
    padding: 5px;
}

header a, .back_icon
{
    margin: 0px 20px;
}