header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5px 0px;
    margin-bottom: 20px;
    border-radius: 15px;
}

header img
{
    width: 40px;
}

.header__icons
{
    padding: 5px;
}

header a, .back_icon
{
    margin: 0px 10px
}