.card
{
    position: relative;
    padding: 10px 20px;
    height: 70vh;
    border-radius: 20px;
    background-size: cover;
    background-position: top;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.card > h1
{
    position: absolute;
    color: white;
    bottom: 20px;
}

.tinderCards__cardContainer
{
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}

.swipe
{
    position: absolute;
    width: 95%;
    max-width: 380px;
}