.card
{
    position: relative;
    width: 400px;
    padding: 10px;
    max-width: 85vw;
    height: 70vh;
    border-radius: 20px;
    background-size: cover;
    background-position: top;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.card > h1
{
    position: absolute;
    color: white;
    bottom: 30px;
}

.tinderCards__cardContainer
{
    display: flex;
    justify-content: center;
}

.swipe
{
    position: absolute;
}